@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #425F57;
}

.header_all {
    text-align: right;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header_all .header_logo img {
    margin-left: 4vw;
    width: 18vw;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
    width: 100%;
}

ul li {
    display: inline-block;
    text-align:right;
    text-decoration:none;
    color: white;
    margin: 2vw;
    margin-right: 4vw;
    right: 50%;
    font-size: 2.7vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.2vw;
    text-decoration-thickness: .4vw;
}

ul li img {
    max-height: 3vw;
    margin-top: .5vw;
}

img {
    width: 100%;
}

.header_all .header_text {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 18%;
}

.header_all .header_text .h1-white {
    font-size: 6vw;
    margin-bottom: 1vw;
}

.header_all .header_text .h2-white {
    font-size: 3.5vw;
}

.content{
    position: absolute;
    top: 18vh;
    left: 20vw; 
    /* gap: 1vw; */
    /* width: 90vw; */
}

.BackButton{
    width: 7vw;
    height: 16vh;
    left: -15vw;
    top: 0vh;
    position: absolute;
    cursor: pointer;
}

.judul-content{
    color: #F3FFD9;
    font-family: 'Cormorant Unicase';
    font-style: normal;
    font-weight: 700;
    position: absolute;
    width: 65vw;
    left: 1vw;
    font-size: 6vw;
}

.foto-produk{
    position: absolute;
    width: 48vw;
    height: 70vw;
    left: 30vw;
    top: 22vw;
}

.deskripsi-produk{
    justify-content: center;
    align-items: center;
    color: #F3FFD9;
}


.nama-produk{
    position: absolute;
    width: 87vw;
    height: 5vh;
    left: 6vw;
    top: 130vh;
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
    font-family: 'Cormorant Unicase';
    font-style: normal;
}

.deskripsi-produk p{
    color: #F3FFD9;
    line-height: 8vh;
    position: absolute;
    width: 60vw;
    left: 21vw;
    top: 149vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    text-align: center;
}

.des2{
    margin-top: 23vh;
}

.judul-kandungan{
    color: #F3FFD9;
    position: absolute;
    width: 51.5vw;
    height: 5vh;
    left: 25vw;
    top: 200vh;
    font-weight: 700;
    font-size: 6vw;
}


.informasi-user{
    color: #F3FFD9;
    position: absolute;
    top: 300vh;
    left: 2vw;
}

.judul-informasi{
    position: absolute;
    left: 4vw;
    width: 70vw;
    font-size: 6vw;
    font-family: 'Cormorant Unicase';
    font-style: normal;
    /* margin-top: 2vh; */
}
.isi-informasi{
    font-family: 'Poppins';
    position: absolute;
    margin-top: 18vh;
    width: 88vw;
    text-align: justify;
    font-size: 2vw;
    left: 4vw;
}

.detail-kandungan{
    position: absolute;
    top: 220vh;
    left: 36vw;
    color: #F3FFD9;
    line-height: 12vh;
    font-size: 2vw;
}

td{
    padding-left: 20px;
    padding-right: 20px;
    color: #F3FFD9;
    line-height: 6vh;
}
.info-saji hr{
    position: absolute;
    width: 100%;
    color: #F3FFD9;
}

#kiri{
    text-align: center;
}


.table1{
    text-align: center;
    left: 3vw;
    position: absolute;
    top: -5vh;
    width: 23vw;
}
.info-saji{
    text-align: center;
}


.footer {
    background-color: rgb(116,159,130);
    display: flex;
    height: 10vw;
    position: relative;
    top: 181vw;
}

.footer .footer_brandLogo {
    width: 20vw;
    height: 2.5vw;
    position: relative;
    top: 4vw;
    left: 4vw;
}

.footer .button-white-hollow {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
    padding: .7vw 2.3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.7vw;
    cursor: pointer;
    border-radius: 3vw;
    position: relative;
    top: 1.8vw;
    left: 15.5vw;
}

.button-white-hollow:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

.footer .footer_logos {
    height: 7vw;
    width: auto;
    display: flex;
    margin-right: 2vw;
    position: relative;
    left: 25vw;
    top: 3vw;
}

.footer .footer_logos img {
    height: 4.5vw;
    width: auto;
    margin-right: 5vw;
}


@media screen and (max-width: 480px) {
    .header_all .header_logo img {
        margin-left: 7vw;
        top: 3.5vw;
    }

    .judul-content{
        width: 70vw;
        left: -2vw;
        font-size: 6.5vw;
        text-align: justify;
        top: 4vw;
    }

    .content{
        position: absolute;
        top: 12vh;
        left: 20vw; 
        /* gap: 1vw; */
        /* width: 90%; */
    }

    .BackButton{
        width: 9vw;
        height: 8vh;
        left: -14vw;
        top: -3vw;
        position: absolute; 
        cursor: pointer;
    }

    .foto-produk{
        /* position: relative; */
        position: absolute;
        left: 10%;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 55vw;
        margin-top: 5vw;
        /* background-color: red; */
    }

    .foto-produk img {
        position: relative;
        left: 20%;
        align-items: center;
        height: 55vw;
        width: auto;
    }

    .deskripsi-produk{
        justify-content: center;
        align-items: center;
        color: #F3FFD9;
        top: -47vw;
        position: absolute;
    }

    .deskripsi-produk p{
        line-height: 4vh;
        position: absolute;
        width: 80vw;
        left: 10vw;
        top: 139vh;
        font-weight: 500;
        font-size: 3vw;
        text-align: center;
    }
    
    .des2{
        margin-top: 15vw;
    }

    .judul-kandungan{
        position: absolute;
        width: 51.5vw;
        height: 5vh;
        left: 25vw;
        top: 125vh;
        font-size: 6vw;
    }
    
    .detail-kandungan{
        position: absolute;
        top: 137vh;
        left: 21vw;
        line-height: 6vh;
        font-size: 3.5vw;
    }

    .judul-perkemasan{
        font-size: 6vw;
    }

    .table1{
        text-align: center;
        left: 6vw;
        position: absolute;
        top: -5vh;
        width: 48vw;
    }

    .informasi-user{
        top: 208vh;
        /* background-color: red; */
        width: 80%;
        /* left: 2vw; */
    }
    
    .judul-informasi{
        left: 4vw;
        width: 70vw;
        font-size: 6vw;
    }
    .isi-informasi{
        margin-top: 7vh;
        width: 88vw;
        font-size: 3vw;
        left: 4vw;
    }

    .footer {
        top: 305vw;
    }
}