*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    background-color: rgb(243, 255, 217);
}

.h1-white {
    font-family: 'Cormorant Unicase', serif;
    color: white;
}

.h1-green {
    font-family: 'Cormorant Unicase', serif;
    color: rgb(66, 95, 87);
}

.h2-white {
    font-family: 'Cormorant', serif;
    color: white;
}

.h2-green {
    font-family: 'Cormorant', serif;
    color: rgb(66, 95, 87);
}

.paragraph_maven-pro {
    font-family: 'Maven Pro', sans-serif;
}

.paragraph_poppins {
    font-family: 'Poppins', sans-serif;
}

.header_all {
    text-align: right;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header_all .header_logo img {
    margin-left: 4vw;
    width: 18vw;
    position: absolute;
    top: 3.5vw;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
    width: 100%;
}

ul li {
    display: inline-block;
    text-align:right;
    text-decoration:none;
    color: white;
    margin: 2vw;
    margin-right: 4vw;
    right: 50%;
    font-size: 2.7vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.2vw;
    text-decoration-thickness: .4vw;
}

ul li img {
    max-height: 3vw;
    margin-top: .5vw;
}

img {
    width: 100%;
}

.header_all .header_text {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 18%;
}

.header_all .header_text .h1-white {
    font-size: 6vw;
    margin-bottom: 1vw;
}

.header_all .header_text .h2-white {
    font-size: 3.5vw;
}

.background {
    width: 100%;
    height: 9vw;
    position: relative;
    background-color: rgb(116,159,130);
    z-index: -1;
}

/* button */
.button-green {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: rgb(116,159,130);
    border: none;
    color: white;
    padding: 1vw 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    cursor: pointer;
    border-radius: 3vw;
    position: absolute;
    top: 36vw;
    left: 35.5%;
}

.button-green:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

.button-white-hollow {
    background-color: transparent;
    border: none;
    color: red;
    padding: 1.3vw 2.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    cursor: pointer;
    border-radius: 3vw;
    position: absolute;
    top: 36vw;
    left: 36%;
}

.button-white-hollow:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

/* Content*/
.title {
    padding-top: 4vw;
    font-size: 5.5vw;
    padding-bottom: 1.5vw;
}

.profilePicture {
    align-items: center;
    position: relative;
    /* background-color: red; */
    text-align: center;
}

.profilePicture img {
    position: relative;
    width: 20vw;
    padding-bottom: .5vw;
}

.profile-Content {
    width: 80%;
    height: 88vw;
    /* background-color: rebeccapurple; */
    position: relative;
    left: 10%;
}

.content1 {
    margin-top: 5vw;
    width: 100%;
    height: 25vw;
    background-color: rgb(66, 95, 87);
    margin-bottom: 7vw;
    border-radius: 4vw;
}

.content2 {
    width: 100%;
    height: 49vw;
    background-color: rgb(66, 95, 87);
    border-radius: 4vw;
}

.content-title {
    padding-top: 2vw;
    padding-left: 4vw;
    text-align: left;
    font-size: 4.7vw;
    color: rgb(243, 255, 217);
    padding-bottom: 1vw;
}

.content-paragraph {
    font-size: 2.8vw;
    line-height: 4vw;
    padding-left: 4vw;
    padding-right: 3vw;
    color: rgb(243, 255, 217);
    font-weight: lighter;
}

.logout-box{
    text-align: center;
}

.logout{
    padding: 1.5vw 4.5vw;
    color:  #425f57;
    border: 5px solid #749F82;
    border-radius: 70px;
    font-family: 'Cormorant Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8vw;
    cursor: pointer;
    background-color: transparent;
    margin-top: 3vh;
}

/* footer */
.footer {
    position: absolute;
    top: 105%;
    width: 100%;
    /* bottom: ; */
    background-color: rgb(116,159,130);
    display: flex;
    height: 10vw;
}

.footer .footer_brandLogo {
    width: 20vw;
    height: 2.5vw;
    position: relative;
    top: 4vw;
    left: 4vw;
}

.footer .button-white-hollow {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
    padding: .7vw 2.3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.7vw;
    cursor: pointer;
    border-radius: 3vw;
    position: relative;
    top: 1.8vw;
    left: 15.5vw;
}

.button-white-hollow:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

.footer .footer_logos {
    height: 7vw;
    width: auto;
    display: flex;
    margin-right: 2vw;
    position: relative;
    left: 25vw;
    top: 3vw;
}

.footer .footer_logos img {
    height: 4.5vw;
    width: auto;
    margin-right: 5vw;
} 