@import url("https://fonts.googleapis.com/css?family=Cormorant+unicase:700|Poppins:200");
@import url("https://fonts.googleapis.com/css?family=Cormorant Unicase");
@import url("https://fonts.googleapis.com/css?family=SF Pro Text Semibold");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #425f57;
    text-align: center;
    font-family: 'Cormorant Unicase';
    color: rgba(242,255,216,1);
}

h1{
    margin-top: 7vw;
    font-size: 4vw;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2vw;
    margin: 4vw 4vw 0vw 4vw;
}

form > div {
    flex: 50%;
    place-items: center;
    margin-bottom: 50px;
}

form .input-box{
    display: flex;
    flex-direction: column;
}

form .input-box label{
    align-self: flex-start;
    margin-left: 11rem;
}

form #input{
    border: 4px solid #749F82;
    border-radius: 70px;
    background: #F3FFD9;
    width: 40vw;
    height: 2vw;
    padding: 0px 15px;
    font-size: 2vw;
    
}

form .choice{
    display: flex;
    flex-direction: column;
}

form .choice-container{
    display: flex;
    flex-direction: column;
}

form .choice-extra{
    text-align: left;
}

form .choice-extra #checkbox{
    width: 1.2vw;
    height: 1.2vw;
}

.login-button{
    width: 17vw;
    height: 5.3vw;
    color: rgba(242,255,216,1);
    border: 4px solid #749F82;
    border-radius: 70px;
    font-family: 'Cormorant Unicase';
    font-style: normal;
    font-weight: 700;
    font-size: 2.6vw;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    left: 34%;
}

a {
    text-decoration: none;
    color: #F3FFD9;
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 8vw;
    }
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 4.8vw;
        margin: 3vw 4vw 3vw 4vw;
    }

    form > div {
        margin-bottom: 3vw;
    }
    
    form .input-box{
        display: flex;
        flex-direction: column;
    }
    
    form .input-box label{
        margin-left: 23vw;
    }
    
    form #input{
        border: 3.5px solid #749F82;
        width: 45vw;
        height: 9.5vw;
        font-size: 3vw;
    }

    form .choice{
        margin: 20px 0px;
    }

    form .choice p {
        position: relative;
        left: -3.5vw;
    }

    form .choice-extra #checkbox{
        width: 3.5vw;
        height: 3.5vw;
        position: relative;
        left: -8vw;
    }
    
    .textBox {
        position: relative;
        left: -6vw;
    }

    .login-button{
        width: 30vw;
        height: 10vw;
        border: 3.5px solid #749F82;
        font-size: 5vw;
        cursor: pointer;
        margin-bottom: 8vw;
    }
}