*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(243, 255, 217);
}

.h1-white {
    font-family: 'Cormorant Unicase', serif;
    color: white;
}

.h1-green {
    font-family: 'Cormorant Unicase', serif;
    color: rgb(66, 95, 87);
}

.h2-white {
    font-family: 'Cormorant', serif;
    color: white;
}

.h2-purple {
    font-family: 'Cormorant', serif;
    color: purple;
}

.paragraph_maven-pro {
    font-family: 'Maven Pro', sans-serif;
}

.paragraph_poppins {
    font-family: 'Poppins', sans-serif;
}

.header_all {
    text-align: right;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header_all .header_logo img {
    margin-left: 4vw;
    width: 18vw;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
    width: 100%;
}

ul li {
    display: inline-block;
    text-align:right;
    text-decoration:none;
    color: white;
    margin: 2vw;
    margin-right: 4vw;
    right: 50%;
    font-size: 2.7vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.2vw;
    text-decoration-thickness: .4vw;
}

ul li img {
    max-height: 3vw;
    margin-top: .5vw;
}

img {
    width: 100%;
}

.header_all .header_text {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 18%;
}

.header_all .header_text .h1-white {
    font-size: 6vw;
    margin-bottom: 1vw;
}

.header_all .header_text .h2-white {
    font-size: 3.5vw;
}

/* button */
.button-green {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: rgb(116,159,130);
    border: none;
    color: white;
    padding: 1vw 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    cursor: pointer;
    border-radius: 3vw;
    position: absolute;
    top: 36vw;
    left: 35.5%;
}

.button-green:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

.button-white-hollow {
    background-color: transparent;
    border: none;
    color: red;
    padding: 1.3vw 2.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    cursor: pointer;
    border-radius: 3vw;
    position: absolute;
    top: 36vw;
    left: 36%;
}

.button-white-hollow:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

/* content */
.content_1{
    text-align: center;
    margin-top: 2.5vw;
    margin-bottom: 5.5vw;
}

.content_1 .h1-green {
    font-size: 5.5vw;
    margin-bottom: 1.2vw;
}

.content_1 .paragraph_poppins {
    font-size: 2.2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    font-family: 'Poppins', sans-serif;
    color: rgb(66, 95, 87);
}

.content_2 {
    position: relative;
    align-items: center;
    justify-content: center;
}

.content_2 .content_2_inner img {
    height: 28vw;
    width: auto;
    position: absolute;
    top: 30%;
    left: 4.5%;
}

.content_2_inner .h1-white {
    position: absolute;
    top: 30%;
    right: 8%;
    font-size: 6vw;
}

.content_2 .content_2_inner p {
    color: white;
    position: absolute;
    top: 38%;
    right: 6%;
    margin-left: 33vw;
    font-size: 2.2vw;
    text-align: center;
}

.content_3 .h1-green {
    font-size: 5.5vw;
    text-align: center;
    margin-bottom: 1.5vw;
}

.content_3 .gallery {
    width: 86%;
    left: 7%;
    position: relative;
    margin-bottom: 4vw;
}

.content_3 .gallery_1 {
    width: 32%;
    background-color: peru;
    height: 20vw;
    margin-bottom: 2vw;
}

.content_3 .gallery_2 {
    position: absolute;
    left: 34%;
    width: 32%;
    top: 0;
    background-color: plum;
    height: 100%;
    overflow: hidden;    
}

.content_3 .gallery_3 {
    position: absolute;
    width: 32%;
    left: 68%;
    top: 0;
    background-color: rgb(66, 95, 87);
    height: 100%;
    border-radius: 0 9vw 0 0;
}

.content_3 .gallery_3 .h1-white {
    font-size: 5vw;
    text-align: center;
    position: relative;
    top: 15%;
}

.content_3 .gallery_3 .paragraph_poppins {
    color: white;
    position: relative;
    top: 18%;
    text-align: center;
    font-size: 2.3vw;
    margin: 1vw;
}

.content_3 .gallery_4 {
    width: 32%;     
    background-color: rgb(66, 95, 87);
    height: 20vw;
    border-radius: 0 0 0 9vw;
}

.content_3 .gallery_4 img {
    position: relative;
    align-items: center;
    top: 40%;
    width: 18vw;
    left: 18%;
}

.content_4 {
    width: 86%;
    height: 30vw;
    left: 7%;
    position: relative;
    margin-bottom: 5vw;
}

.content_4 p {
    color: rgb(116,159,130);
    font-size: 2.3vw;
}

.content_4 .text_col1 {
    width: 32%;
}

.content_4 .text_col2 {
    width: 32%;
    position: absolute;
    left: 34%;
    top: 0;
}

.content_4 .text_col3 {
    width: 32%;
    position: absolute;
    left: 68%;
    top: 0;
}

/* footer */
.footer {
    background-color: rgb(116,159,130);
    display: flex;
    height: 10vw;
}

.footer .footer_brandLogo {
    width: 20vw;
    height: 2.5vw;
    position: relative;
    top: 4vw;
    left: 4vw;
}

.footer .button-white-hollow {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
    padding: .7vw 2.3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.7vw;
    cursor: pointer;
    border-radius: 3vw;
    position: relative;
    top: 1.8vw;
    left: 15.5vw;
}

.button-white-hollow:hover {
    color: rgb(116,159,130);
    background-color: rgba(255, 255, 255, .9);
}

.footer .footer_logos {
    height: 7vw;
    width: auto;
    display: flex;
    margin-right: 2vw;
    position: relative;
    left: 25vw;
    top: 3vw;
}

.footer .footer_logos img {
    height: 4.5vw;
    width: auto;
    margin-right: 5vw;
} 