:root{
    --black: rgba(0,0,0,1);;
    --mineral-green-2: rgba(66,95,87, 0.749);
    --mineral-green: rgba(66,95,87, 1);
    --oxley: rgba(242,255,216,1);
    --carla: rgba(242,255,216,1);
    --supernova: rgba(255,198,0,1);
    --white: rgba(255,255,255,1);
}